:root {
  --ff-base: "MADE TOMMY", sans-serif;

  --fs-xl: 9rem;
  --fs-lg: 2rem;
  --fs-base: 1.6rem;

  --fw-light: 300;
  --fw-black: 900;

  @media screen and (max-width: 1240px) {
    --fs-xl: 7rem;
    --fs-lg: 1.9rem;
    --fs-base: 1.5rem;
  }

  @media screen and (max-width: 992px) {
    --fs-xl: 5.6rem;
    --fs-lg: 1.8rem;
    --fs-base: 1.4rem;
  }

  @media screen and (max-width: 768px) {
    --fs-xl: 4.6rem;
  }

  @media screen and (max-width: 480px) {
    --fs-xl: 3.6rem;
    --fs-lg: 1.6rem;
    --fs-base: 1.3rem;
  }
}

@font-face {
  font-family: "MADE TOMMY";
  src: url("/assets/MADETOMMY-Black.woff2") format("woff2"),
    url("/assets/MADETOMMY-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE TOMMY";
  src: url("/assets/MADETOMMY-Light.woff2") format("woff2"),
    url("/assets/MADETOMMY-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
